.navbar {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 0.5rem;
  width: 200px;
}

.categorias {
  display: flex;
  list-style: none;
}

.categorias,
li {
  margin: 0 30px;
  margin-top: 30px;
}

.buttonNav {
  color: black !important;
}

.logoimg {
  border-radius: 0.5rem;
}
