.navbar {
  display: flex;
  background-color: rgb(33, 33, 33);
}

.logoImg {
  /* border-radius: 30px; */
  width: 200px;
}

.categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.btnCategory {
  margin: 30px;
}

.buttonNav {
  color: black !important;
  width: 150px;
}

@media (max-width: 620px) {
  .logoImg {
    width: 300px;
    margin-top: 40px;
  }
}
