.navbar {
  display: flex;
  background-color: rgb(33, 33, 33);
  justify-content: space-around;
}

.boxButtons {
  display: flex;
}

.logoImg {
  width: 200px;
}

.categorias {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.btnCategory {
  margin: 30px;
}

.buttonNav {
  color: black !important;
  width: 150px;
}

.boxCartIcon {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
}

@media (max-width: 1300px) {
  .boxButtons {
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .logoImg {
    width: 300px;
    margin-top: 40px;
  }
}

@media (max-width: 510px) {
  .buttonNav {
    width: 95px;
  }
}

@media (max-width: 460px) {
  .logoImg {
    width: 200px;
    margin-top: 100px;
  }
}

@media (max-width: 360px) {
  .logoImg {
    width: 150px;
    margin-top: 125px;
  }
}
