h1 {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  /* width: 70%; */
}

.item-card {
  margin-top: 100px;
}


