h1 {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1310px;
  width: 70%;
}

@media (max-width: 1486) {
  .cards {
    justify-content: center;
  }
}
