input {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.itemContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.agregar {
  width: 170px;
  margin: auto;
}
