input {
  text-align: center;
}

.boxIncremetDecrement {
  display: flex;
}

.itemContainer {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.buttonIncrement,
.buttonDecrement {
  width: 20px;
  margin: 5px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}

.buttonIncrement:hover {
  background-color: gray;
}
.buttonDecrement:hover {
  background-color: gray;
}
